<!-- Edited 7/27/22 by Jake McCann -->
<%= javascript_pack_tag 'stock_specific_polling' %>

<div id="stock">
  <%= render :partial => 'stock_show', :data => @stock %>
</div>

<!-- <%= link_to 'Edit', edit_stock_path(@stock) %> | -->

<% if @news_articles.count > 0 %>
  <h1>News: </h1>
  <%= render :partial => 'news_article', :collection => @news_articles %>
<% end %>
