#RubyMine project
.idea/

#Test and misc files
.rspec

#Bundler config
/.bundle

#Temp files and log files
stock_app/log/*.log
stock_app/log/development.log
stock_app/tmp

#Rails things
stock_app/.bundle
stock_app/.cache
stock_app/.DS_Store
stock_app/.sass-cache
stock_app/build/

# Ignore node_modules
stock_app/node_modules/