/* Edited 7/30/2022 by Noah Moon */
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body{
    margin: 0;
    padding: 0;
}
#top-nav{
    background-color: #068e1b;
}
#internal_nav{
    background-color: #068e1b;
}
#content{
    margin-left: 2%;
    margin-right: 2%;
}
.nav_item {


}
.nav_item:hover {
    background-color: black;
    color: #068e1b;

}
.nav_item:visited {
    color: black
}
.nav_item:visited:hover {
    color: #068e1b;
}
.test_item{
    color: black
}
.navbar-link:visited{
    color: black;
}
.navbar-link{
    color: black;
}
.navbar-link:visited:hover{
    color: #068e1b;
}
.navbar-link:hover{
    color: #068e1b;
}
.alert{
    margin-left: 2%;
}
.alert-success{
    color: green;
}
.alert-danger{
    color: red;
}