<h3>Current Value: $<%= current_user.currentbalance.round(2) %></h3>
<h3>Liquid Cash: $<%= current_user.liquidcash.round(2) %></h3>
<h3>Overall Loss/Gain: <%= ((current_user.currentbalance / current_user.initialbalance - 1) * 100).round(2) %>%</h3>